<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>CVPR2018 Paper Search Tool</title>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">CVPR2018 Paper Search Tool</span>
    <div>source code is <a href="https://github.com/jiny2001/CVPR_paper_search_tool">here in github!</a></div>
</nav>
<div class="p-5">


    <p><a href="/" class="btn btn-primary"><< Back to find by keywords</a></p>

    <p>
    <div class="card bg-dark text-white">
        <h5 class="card-header">{{ paper.title }}</h5>
        <div class="card-body">
            <a href="{{ paper.abstract_url }}" target="_blank" class="btn btn-sm btn-light">Check abstract</a>
            <a href="{{ paper.pdf_url }}" target="_blank" class="btn btn-sm btn-light">Open PDF</a>
        </div>
    </div>
    </p>

    <!-- Messages -->
    {% if message is not none %}
    <h5>Most 5 similar papers >></h5>
    <hr/>
    {% endif %}

    <!-- Papers -->
    {% for paper in searchResult %}
    <p>
    <div class="card">
        <h5 class="card-header"><span class="text-muted">[{{ paper.score }}]</span> {{ paper.title }}</h5>
        <div class="card-body">
            <a href="{{ paper.abstract_url }}" target="_blank" class="btn btn-sm btn-light">Check abstract</a>
            <a href="{{ paper.pdf_url }}" target="_blank" class="btn btn-sm btn-light">Open PDF</a>
            <a href="/find_similar_paper?paper_id={{ paper.id }}" class="btn btn-sm btn-light">Find similar paper</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
